<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AJB Park Booking System</title>
  {{> head}}
</head>
<body>
  <div class="h1">
    <h1 class="mv0 mh2 fw6">反馈查看</h1>
  </div>
  <div class="mt4">
    <table class="layui-hide" id="feedback-table" lay-filter="feedback-table"></table>
  </div>
  {{> table_line_operations}}
  {{> table_toolbar}}
  {{> script}}
  <script src="/js/module/feedback.js"></script>
</body>
</html>