<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{> head}}
  <title>AJB Park Booking System</title>
</head>
<body>
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      {{! 暂时不使用
      <div class="dn-ns flex w-100 h-100 tc items-center justify-center"
        style="color: #f7f7f7; font-size: 16px;">
        安居宝
      </div>}}
      <div class="layui-logo layui-hide-xs layui-bg-black">
         安居宝 
      </div>
      <ul class="h-100 layui-nav layui-layout-left layui-hide-xs flex items-center">
        <li class="layui-show-xs-inline-block" lay-header-event="menuLeft">
          {{!<i class="layui-icon layui-icon-shrink-right"></i>}}
          <i class="layui-icon layui-icon-spread-left" id="leftCollapseBtn"></i>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
          <a href="javascript:;">
            <img src="{{user.avator}}" class="layui-nav-img">
            {{user.name}}
          </a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:openProfile();">个人信息</a></dd>
            <dd><a href="javascript:logOut();">登出</a></dd>
          </dl>
          
        </li> 
      </ul>
    </div>
    <div class="layui-side layui-bg-black layui-hide-xs">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="t" id="menu-nav">
          {{#if (eq character 'dev')}}
          {{!开发角色}}
          <li class="layui-nav-item">
            <a href="/user/admin" class="flex items-center"
              style="display: flex; align-items: center;" target="win">管理员管理</a>
          </li>
          <li class="layui-nav-item">
            <a href="/user/" class="flex items-center"
              style="display: flex; align-items: center;" target="win">用户管理</a>
          </li>
          <li class="layui-nav-item">
            <a href="/role/" class="flex items-center"
              style="display: flex; align-items: center;" target="win">角色管理</a>
          </li>
          <li class="layui-nav-item">
            <a href="/order/" class="flex items-center"
              style="display: flex; align-items: center;" target="win">订单管理</a>
          </li>
          <li class="layui-nav-item">
            <a href="/park/" class="flex items-center"
             style="display: flex; align-items: center;" target="win">停车场管理</a>
          </li>
          <li class="layui-nav-item">
            <a href="/park-fee/" class="flex items-center"
             style="display: flex; align-items: center;" target="win">停车场收费标准管理</a>
          </li>
          <li class="layui-nav-item">
            <a href="/evaluate/" class="flex items-center"
             style="display: flex; align-items: center;" target="win">评论管理</a>
          </li>
          <li class="layui-nav-item">
            <a href="/car/" class="flex items-center"
             style="display: flex; align-items: center;" target="win">车辆管理</a>
          </li>
          {{/if}}
          {{#if (eq character 'rootadmin')}}
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="admin-manager"
              style="display: flex; align-items: center;" for="/user/admin/">管理员管理</a>
          </li>
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="role-manager"
              style="display: flex; align-items: center;" for="/role/">角色管理</a>
          </li>
          {{/if}}
          {{#if (eq character 'useradmin')}}
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="user-manager"
              style="display: flex; align-items: center;" for="/user/">用户管理</a>
          </li>
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="evaluate-manager"
             style="display: flex; align-items: center;" for="/evaluate/">评论管理</a>
          </li>
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="car-manager"
             style="display: flex; align-items: center;" for="/car/">车辆管理</a>
          </li>
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="order-manager"
              style="display: flex; align-items: center;" for="/order/">订单管理</a>
          </li>
          {{/if}}
          {{#if (eq character 'parkadmin')}}
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="order-manager"
              style="display: flex; align-items: center;" for="/order/">订单管理</a>
          </li>
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="park-manager"
             style="display: flex; align-items: center;" for="/park/">停车场管理</a>
          </li>
          {{#if (ne user.plugin undefined)}}
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="parkfee-manager"
             style="display: flex; align-items: center;" for="/park-fee/">停车场收费标准管理</a>
          </li>
          {{/if}}
          {{/if}}
          <li class="layui-nav-item">
            <a class="flex items-center" lay-on="toTab" id="feedback-manager"
              style="display: flex; align-items: center;" for="/feedback/">反馈查看</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="layui-body">
      <!-- <iframe class="w-100 h-100 bw0" title="submodule" id="ifr" name="win">
      </iframe> ?-->
      <div class="layui-tab w-100 h-100 bw0 flex flex-column" lay-filter="tab-handler" lay-allowclose="true">
        <ul class="layui-tab-title">
          <!-- <li class="layui-this" lay-id="tab-1">主页</li> ?-->
        </ul>
        <div class="layui-tab-content" style="flex: 1">
          <!-- <div class="layui-tab-item layui-show">内容</div> ?-->
        </div>
      </div>
    </div>
    <div class="layui-footer layui-hide-xs flex justify-end-ns">
      Powered by AJB Inc. 06.02.2025 - 
    </div>
  </div>
  {{> script}}
  <script src="/js/module/inner.js"></script>
</body>
</html>
