<div class="layui-side layui-bg-black">
  <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree">
      <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">用户</a>
        <dl class="layui-nav-child">
          <dd>
            <a href="javascript:;">用户管理</a>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
