<script type="text/html" id="line-operations">
  <div class="layui-clear-space inline-operations" id="operations-inline">
    <a class="layui-btn layui-btn-xs line-edit" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs line-delete" lay-event="dele">删除</a>
    <a class="layui-btn layui-btn-xs layui-btn-default line-info" lay-event="info">详细</a>
  </div>
</script>