<script type="text/html" id="table-toolbar">
<div class="layui-btn-container" id="table-toolbar-container">
  <button class="layui-btn" id="table-toolbar-btn-add" lay-event="addi">添加</button>
  <button class="layui-btn" id="table-toolbar-btn-delete" lay-event="dele">删除</button>
  <button class="layui-btn" id="table-toolbar-btn-edit" lay-event="edit">编辑</button>
  <button class="layui-btn" id="table-toolbar-btn-info" lay-event="info">详细</button>
</div>
</script>